
<footer class="fdb-block footer-large bg-dark-alt" data-block-type="footers" data-id="1">
    <div class="container">
      <div class="row align-items-top text-center">
        <div class="col-12 col-sm-6 col-md-4 ">
          <h3><strong>Site</strong></h3>
          <a class="nav-link footer" href="/">Home</a>
          <a class="nav-link footer" href="/contact">Contact</a>
        </div>
        <div class="col-12 col-sm-6 col-md-4 ">
          <h3><strong>Routes</strong></h3>
          <a class="nav-link footer" href="/availableFedExRoutes">Available Routes</a>
          <a class="nav-link footer" href="/sellFedExRoutes">Sell Your Routes</a>
          <a class="nav-link footer" href="/soldFedExRoutes">Recently Sold Routes</a>
        </div>
  
        <!-- <div class="col-12 col-sm-6 col-md-3">
          <h3><strong>Services</strong></h3>
          <a class="nav-link footer" href="/services">What We Offer</a>
        </div> -->
        <div class="col-12 col-sm-6 col-md-4   ">
          <h3><strong>FedEx<span class="copy-span">@</span></strong></h3>
          <a class="nav-link footer" target="_blank" href="https://www.buildagroundbiz.com/about-fedex-ground">What is FedEx<span class="copy-span">@</span> Contracting</a>
          <a class="nav-link footer" target="_blank" href="https://www.buildagroundbiz.com/about-fedex-ground/overview">Learn About the Industry</a>
        </div>
  
  
      </div>
  
      <div class="row mt-5">
        <div class="col text-center">
            © {{ "now"|date("Y") }} Linehaul Consulting
        </div>
      </div>
    </div>
  </footer>