<header class="bg-dark-alt" data-block-type="headers" data-id="1">
    <div class="container">
        <nav class="navbar navbar-expand-md" >
                <a class="navbar-brand" href="/">
                        <img src="/assets/img/linehaul-logo.png" height="30" alt="logo">
                          <h3 class="d-inline-block ml-1 logotext-lt" style="text-decoration: none;">Linehaul Consulting, LLC</h3>
                      </a>

                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav11" aria-controls="navbarNav11" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon white"></span>
                          </button>

            <div class="collapse navbar-collapse" id="navbarNav11">
                    <ul class="navbar-nav ml-auto">
                      <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/routes">Available Routes</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/sellFedExRoutes">Sell Your Routes</a>
                      </li>
                      <li class="nav-item pt-1">
                          <a class="ml-md-3" href="/contact">
                            <!-- <button class="bttn-unite bttn-sm bttn-success">Contact</button> -->
                            <button class="bttn-bordered bttn-sm ">Contact</button>
                          </a>
                      </li>
                    </ul>
          
                    
                  </div>
        </nav>
    </div>
</header>