<header style="background-color: none !important; background-color: rgba(0,0,0,0)">
    <div class="container">
        <nav class="navbar navbar-expand-md tran">
            <a class="navbar-brand" href="/">
                <img src="/assets/img/linehaul-logo-white.png" height="30" alt="logo">
                <h3 class="d-inline-block ml-1 logotext-lt" style="text-decoration: none;">Linehaul Consulting, LLC</h3>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav3"
                aria-controls="navbarNav3" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon white"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav3">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link tran" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link tran" href="/availableFedExRoutes">Available Routes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link tran" href="/sellFedExRoutes">Sell Your Routes</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link tran" href="/services">Services</a>
                    </li> -->
                    <li class="nav-item pt-1">
                        <a class="ml-md-3" href="/contact">
                            <button class="bttn-bordered bttn-sm bttn-default">Contact</button>
                        </a>
                    </li>
                </ul>


            </div>
        </nav>
    </div>
</header>