<!-- <footer class="fdb-block footer-small bg-dark-alt" data-block-type="footers" data-id="11">
  <div class="container">
    <div class="row text-center align-items-center">
      <div class="col">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/availableFedExRoutes">Available Routes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sellFedExRoutes">Sell Your Routes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/services">Sell Your Routes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
        </ul>

        <p class="h5 mt-5">© {{ date('Y') }} Linehaul Consulting</p>
      </div>
    </div>
  </div>
</footer> -->
