<aside class="left-sidebar bg-sidebar">
  <div id="sidebar" class="sidebar sidebar-with-footer">
    <!-- Aplication Brand -->
    <div class="app-brand">
      <a href="/">
        <img src="{{ assets }}/img/linehaul-logo-white-sm.svg" width="35">
        <span class="brand-name">Linehaul</span>
      </a>
    </div>
    <!-- begin sidebar scrollbar -->
    <div class="sidebar-scrollbar">

      <!-- sidebar menu -->
      <ul class="nav sidebar-inner" id="sidebar-menu">



        {# <li class="has-sub active expand">
          <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#dashboard"
            aria-expanded="false" aria-controls="dashboard">
            <i class="mdi mdi-view-dashboard-outline"></i>
            <span class="nav-text">Dashboard</span> <b class="caret"></b>
          </a>
          <ul class="collapse show" id="dashboard" data-parent="#sidebar-menu">
            <div class="sub-menu">

              <li class="active">
                <a class="sidenav-item-link" href="index.html">
                  <span class="nav-text">Ecommerce</span>

                </a>
              </li>

              <li>
                <a class="sidenav-item-link" href="analytics.html">
                  <span class="nav-text">Analytics</span>

                  <span class="badge badge-success">new</span>

                </a>
              </li>

            </div>
          </ul>
        </li>  #}
        {# 
        {% if active == 'dash' %}
        <li class="active">
          {% else %}
        <li class="">
          {% endif %}
          <a class="sidenav-item-link" href="{{ url_for('home') }}" aria-expanded="false" aria-controls="dashboard">
            <i class="mdi mdi-view-dashboard"></i>
            <span class="nav-text">Dashboard</span>
          </a>
        </li>
        #}
        <!-- <li class="">
          <a class="sidenav-item-link" href="{{ url_for('trucks') }}" 
            aria-expanded="false" aria-controls="dashboard">
            <i class="mdi mdi-view-dashboard-outline"></i>
            <span class="nav-text">Trucks</span> 
          </a>
        </li>
        <li class="">
          <a class="sidenav-item-link" href="{{ url_for('invoices') }}" 
            aria-expanded="false" aria-controls="dashboard">
            <i class="mdi mdi-view-dashboard-outline"></i>
            <span class="nav-text">Invoices</span> 
          </a>
        </li> -->
        <li class="">
          <a class="sidenav-item-link" href="{{ url_for('users') }}" 
            aria-expanded="false" aria-controls="dashboard">
            <i class="mdi mdi-account-multiple"></i>
            <span class="nav-text">Users</span> 
          </a>
        </li>
        {% if active == 'entities' %}
        <li class="active">
          {% else %}
        <li class="">
          {% endif %}


          <a class="sidenav-item-link" href="{{ url_for('entities') }}" aria-expanded="false"
            aria-controls="dashboard">
            <i class="mdi mdi-file-document-box"></i>
            <span class="nav-text">Entities</span>
          </a>
        </li>
        {% if active == 'fleet' %}
        <li class="active">
          {% else %}
        <li class="">
          {% endif %}
          <a class="sidenav-item-link" href="{{ url_for('fleet') }}" aria-expanded="false" aria-controls="dashboard">
            <i class="mdi mdi-road-variant"></i>
            <span class="nav-text">Fleet</span>
          </a>
        </li>
            {% if active == 'maintenance' %}
            <li class="has-sub active">
              {% else %}
            <li class="has-sub">
              {% endif %}
          <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#maintenance"
            aria-expanded="false" aria-controls="maintenance">
            <i class="mdi mdi-wrench"></i>
            <span class="nav-text">Maintenance</span> <b class="caret"></b>
          </a>
          <ul class="collapse" id="maintenance">
            <div class="sub-menu">

              <li>
                <a href="{{ url_for('invoices') }}">Invoices</a>
              </li>
              <!-- <li>
                <a href="{{ url_for('services') }}">Services</a>
              </li> -->

              <li>
                <a href="{{ url_for('intervals') }}">Service Intervals</a>
              </li>
              <li>
                <a href="{{ url_for('projections') }}">Projections</a>
              </li>

            </div>
          </ul>
        </li>
        <!-- <li class="">
          <a class="sidenav-item-link" href="{{ url_for('test.api') }}" 
            aria-expanded="false" aria-controls="dashboard">
            <i class="mdi mdi-view-dashboard-outline"></i>
            <span class="nav-text">Test API</span> 
          </a>
        </li> -->





        {# <li class="has-sub">
          <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#ui-elements"
            aria-expanded="false" aria-controls="ui-elements">
            <i class="mdi mdi-folder-multiple-outline"></i>
            <span class="nav-text">UI Elements</span> <b class="caret"></b>
          </a>
          <ul class="collapse" id="ui-elements" data-parent="#sidebar-menu">
            <div class="sub-menu">


              <li class="has-sub">
                <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#components"
                  aria-expanded="false" aria-controls="components">
                  <span class="nav-text">Components</span> <b class="caret"></b>
                </a>
                <ul class="collapse" id="components">
                  <div class="sub-menu">

                    <li>
                      <a href="alert.html">Alert</a>
                    </li>

                    <li>
                      <a href="badge.html">Badge</a>
                    </li>

                    <li>
                      <a href="breadcrumb.html">Breadcrumb</a>
                    </li>

                    <li>
                      <a href="button-default.html">Button Default</a>
                    </li>

                    <li>
                      <a href="button-dropdown.html">Button Dropdown</a>
                    </li>

                    <li>
                      <a href="button-group.html">Button Group</a>
                    </li>

                    <li>
                      <a href="button-social.html">Button Social</a>
                    </li>

                    <li>
                      <a href="button-loading.html">Button Loading</a>
                    </li>

                    <li>
                      <a href="card.html">Card</a>
                    </li>

                    <li>
                      <a href="carousel.html">Carousel</a>
                    </li>

                    <li>
                      <a href="collapse.html">Collapse</a>
                    </li>

                    <li>
                      <a href="list-group.html">List Group</a>
                    </li>

                    <li>
                      <a href="modal.html">Modal</a>
                    </li>

                    <li>
                      <a href="pagination.html">Pagination</a>
                    </li>

                    <li>
                      <a href="popover-tooltip.html">Popover & Tooltip</a>
                    </li>

                    <li>
                      <a href="progress-bar.html">Progress Bar</a>
                    </li>

                    <li>
                      <a href="spinner.html">Spinner</a>
                    </li>

                    <li>
                      <a href="switcher.html">Switcher</a>
                    </li>

                    <li>
                      <a href="table.html">Table</a>
                    </li>

                    <li>
                      <a href="tab.html">Tab</a>
                    </li>

                  </div>
                </ul>
              </li>









              <li class="has-sub">
                <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#forms"
                  aria-expanded="false" aria-controls="forms">
                  <span class="nav-text">Forms</span> <b class="caret"></b>
                </a>
                <ul class="collapse" id="forms">
                  <div class="sub-menu">

                    <li>
                      <a href="basic-input.html">Basic Input</a>
                    </li>

                    <li>
                      <a href="input-group.html">Input Group</a>
                    </li>

                    <li>
                      <a href="checkbox-radio.html">Checkbox & Radio</a>
                    </li>

                    <li>
                      <a href="form-validation.html">Form Validation</a>
                    </li>

                    <li>
                      <a href="form-advance.html">Form Advance</a>
                    </li>

                  </div>
                </ul>
              </li>




              <li class="has-sub">
                <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#maps"
                  aria-expanded="false" aria-controls="maps">
                  <span class="nav-text">Maps</span> <b class="caret"></b>
                </a>
                <ul class="collapse" id="maps">
                  <div class="sub-menu">

                    <li>
                      <a href="google-map.html">Google Map</a>
                    </li>

                    <li>
                      <a href="vector-map.html">Vector Map</a>
                    </li>

                  </div>
                </ul>
              </li>




              <li class="has-sub">
                <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#widgets"
                  aria-expanded="false" aria-controls="widgets">
                  <span class="nav-text">Widgets</span> <b class="caret"></b>
                </a>
                <ul class="collapse" id="widgets">
                  <div class="sub-menu">

                    <li>
                      <a href="general-widget.html">General Widget</a>
                    </li>

                    <li>
                      <a href="chart-widget.html">Chart Widget</a>
                    </li>

                  </div>
                </ul>
              </li>



            </div>
          </ul>
        </li> #}




        <!-- 
        <li class="has-sub">
          <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#charts"
            aria-expanded="false" aria-controls="charts">
            <i class="mdi mdi-chart-pie"></i>
            <span class="nav-text">Charts</span> <b class="caret"></b>
          </a>
          <ul class="collapse" id="charts" data-parent="#sidebar-menu">
            <div class="sub-menu">



              <li>
                <a class="sidenav-item-link" href="chartjs.html">
                  <span class="nav-text">ChartJS</span>

                </a>
              </li>




            </div>
          </ul>
        </li>





        <li class="has-sub">
          <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#pages"
            aria-expanded="false" aria-controls="pages">
            <i class="mdi mdi-image-filter-none"></i>
            <span class="nav-text">Pages</span> <b class="caret"></b>
          </a>
          <ul class="collapse" id="pages" data-parent="#sidebar-menu">
            <div class="sub-menu">



              <li>
                <a class="sidenav-item-link" href="user-profile.html">
                  <span class="nav-text">User Profile</span>

                </a>
              </li>





              <li class="has-sub">
                <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse"
                  data-target="#authentication" aria-expanded="false" aria-controls="authentication">
                  <span class="nav-text">Authentication</span> <b class="caret"></b>
                </a>
                <ul class="collapse" id="authentication">
                  <div class="sub-menu">

                    <li>
                      <a href="sign-in.html">Sign In</a>
                    </li>

                    <li>
                      <a href="sign-up.html">Sign Up</a>
                    </li>

                  </div>
                </ul>
              </li>




              <li class="has-sub">
                <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#others"
                  aria-expanded="false" aria-controls="others">
                  <span class="nav-text">Others</span> <b class="caret"></b>
                </a>
                <ul class="collapse" id="others">
                  <div class="sub-menu">

                    <li>
                      <a href="invoice.html">invoice</a>
                    </li>

                    <li>
                      <a href="404.html">404 Page</a>
                    </li>

                  </div>
                </ul>
              </li>



            </div>
          </ul>
        </li>





        <li class="has-sub">
          <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#documentation"
            aria-expanded="false" aria-controls="documentation">
            <i class="mdi mdi-book-open-page-variant"></i>
            <span class="nav-text">Documentation</span> <b class="caret"></b>
          </a>
          <ul class="collapse" id="documentation" data-parent="#sidebar-menu">
            <div class="sub-menu">



              <li class="section-title">
                Getting Started
              </li>






              <li>
                <a class="sidenav-item-link" href="introduction.html">
                  <span class="nav-text">Introduction</span>

                </a>
              </li>






              <li>
                <a class="sidenav-item-link" href="quick-start.html">
                  <span class="nav-text">Quick Start</span>

                </a>
              </li>






              <li>
                <a class="sidenav-item-link" href="customization.html">
                  <span class="nav-text">Customization</span>

                </a>
              </li>






              <li class="section-title">
                Layouts
              </li>





              <li class="has-sub">
                <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#headers"
                  aria-expanded="false" aria-controls="headers">
                  <span class="nav-text">Header Variations</span> <b class="caret"></b>
                </a>
                <ul class="collapse" id="headers">
                  <div class="sub-menu">

                    <li>
                      <a href="header-fixed.html">Header Fixed</a>
                    </li>

                    <li>
                      <a href="header-static.html">Header Static</a>
                    </li>

                    <li>
                      <a href="header-light.html">Header Light</a>
                    </li>

                    <li>
                      <a href="header-dark.html">Header Dark</a>
                    </li>

                  </div>
                </ul>
              </li>




              <li class="has-sub">
                <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse"
                  data-target="#sidebar-navs" aria-expanded="false" aria-controls="sidebar-navs">
                  <span class="nav-text">Sidebar Variations</span> <b class="caret"></b>
                </a>
                <ul class="collapse" id="sidebar-navs">
                  <div class="sub-menu">

                    <li>
                      <a href="sidebar-fixed-default.html">Sidebar Fixed Default</a>
                    </li>

                    <li>
                      <a href="sidebar-fixed-minified.html">Sidebar Fixed Minified</a>
                    </li>

                    <li>
                      <a href="sidebar-fixed-offcanvas.html">Sidebar Fixed Offcanvas</a>
                    </li>

                    <li>
                      <a href="sidebar-static-default.html">Sidebar Static Default</a>
                    </li>

                    <li>
                      <a href="sidebar-static-minified.html">Sidebar Static Minified</a>
                    </li>

                    <li>
                      <a href="sidebar-static-offcanvas.html">Sidebar Static Offcanvas</a>
                    </li>

                    <li>
                      <a href="sidebar-with-footer.html">Sidebar With Footer</a>
                    </li>

                    <li>
                      <a href="sidebar-without-footer.html">Sidebar Without Footer</a>
                    </li>

                    <li>
                      <a href="right-sidebar.html">Right Sidebar</a>
                    </li>

                  </div>
                </ul>
              </li>









            </div>
          </ul>
        </li> -->



      </ul>

    </div>
    <!-- 
      <hr class="separator" />

      <div class="sidebar-footer">
        <div class="sidebar-footer-content">
          <h6 class="text-uppercase">
            Cpu Uses <span class="float-right">40%</span>
          </h6>
          <div class="progress progress-xs">
            <div
              class="progress-bar active"
              style="width: 40%;"
              role="progressbar"
            ></div>
          </div>
          <h6 class="text-uppercase">
            Memory Uses <span class="float-right">65%</span>
          </h6>
          <div class="progress progress-xs">
            <div
              class="progress-bar progress-bar-warning"
              style="width: 65%;"
              role="progressbar"
            ></div>
          </div>
        </div>
      </div> -->
  </div>
</aside>
