<div id="sort-row" class="row align-items-center ">
    <div class="col mt-4">
        <span class="btn-group-label">&nbsp;&nbsp;Price:&nbsp;&nbsp;</span>
        <div class="btn-group btn-group-toggle" data-toggle="buttons" onchange="checkRadios('{{ status }}')">

            <label class="btn btn-light">
                <input type="radio" name="sort-option" value="ASC" id="price-low" autocoplete="off"> Low
            </label>
            <label class="btn btn-light">
                <input type="radio" name="sort-option" value="DESC" id="price-high" autocomplete="off"> High
            </label>
        </div>
    </div>
    <div class="col mt-4">
        <span class="btn-group-label">&nbsp;&nbsp;Category:&nbsp;&nbsp;</span>
        <div class="btn-group btn-group-toggle" data-toggle="buttons" onchange="checkRadios('{{ status }}')">
            <label class="btn btn-light">
                <input type="radio" name="filter-option" value="linehaul" id="linehaul-only" autocoplete="off">
                Linehaul
            </label>
            <label class="btn btn-light">
                <input type="radio" name="filter-option" value="pd" id="pd-only" autocomplete="off">
                P&D
            </label>
        </div>
    </div>
</div>