<form id="sub-form" method="POST" action="">
              <div class="input-group mt-4 mb-4 justify-content-center">
                <input id="email-address-input" type="email" class="form-control" autocomplete="off"
                  placeholder="Enter your email address" style="max-width: 350px;">
                <div class="input-group-append">
                  <input type="submit" id="submit_form_button" class="btn btn-primary" type="button"
                    value="Submit"></input>
                </div>
              </div>
            </form>
