/*
* Mate - Bootstrap 4 Template
* Build Date: December 2017
* Last updated: December 2017
* Version: 1.0
* Author: UIdeck
* Copyright (C) 2018 UIdeck
*/

/* ------------------------------------- */

/* TABLE OF CONTENTS
/* -------------------------------------
  1. IMPORT GOOGLE FONTS
  2. GENERAL
    -2.1 SECTION TITLE
    -2.2 BUTTONS
    -2.3 SOCIAL ICON
    -2.4 PRE LOADER
    -2.5 SCROLL TO UP
  3. HERO AREA 
  4. NAVBAR
  5. SERVICES SECTION
  6. FEATURES SECTION
  7. VIDEO PROMO SECTION
  8. PORTFOLIO SECTION
  9. PRICING TABLE 
  10. COUNTER SECTION
  11. TESTIMONIAL AREA
  12. TEAM SECTION
  13. BLOG SECTION
  14. CONTACT SECTION
  15. FOOTER SECTION
    -15.1 COMING SOON PAGE
  ------------------------------------- */

/* ==========================================================================
   1. IMPORT GOOGLE FONTS
   ========================================================================== */

@import url("https://fonts.googleapis.com/css?family=Poppins:400,700");
/* ==========================================================================
   2. GENERAL
   ========================================================================== */

.homebg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/assets/img/homebg.jpg');
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  /* background-size: cover; */
  /* background-size: 125%; */
  background-position: 0% 75%;
  opacity: 1;
  transition: opacity 0.9s;
}

.text-green {
  color: #0E8555;
}

.bg-lt-green {
  background-color: #e6f0eb;
}

.shadow-bottom-left {
  box-shadow: -5px 5px 5px rgb(255, 255, 255, 0.5), -15px 15px 0px #d6e4dd;
  -moz-box-shadow: -5px 5px 5px rgb(255, 255, 255, 0.5), -15px 15px 0px #d6e4dd;
  -webkit-box-shadow: -5px 5px 5px rgb(255, 255, 255, 0.5), -15px 15px 0px #d6e4dd;
  -khtml-box-shadow: -5px 5px 5px rgb(255, 255, 255, 0.5), -15px 15px 0px #d6e4dd;
}

.shadow-top-right {
  box-shadow: 5px -5px 5px rgb(255, 255, 255, 0.5), 15px -15px 0px #d6e4dd;
  -moz-box-shadow: 5px -5px 5px rgb(255, 255, 255, 0.5), 15px -15px 0px #d6e4dd;
  -webkit-box-shadow: 5px -5px 5px rgb(255, 255, 255, 0.5), 15px -15px 0px #d6e4dd;
  -khtml-box-shadow: 5px -5px 5px rgb(255, 255, 255, 0.5), 15px -15px 0px #d6e4dd;
}

.shadow-bottom-right {
  box-shadow: 5px 5px 5px rgb(255, 255, 255, 0.5), 15px 15px 0px #d6e4dd;
  -moz-box-shadow: 5px 5px 5px rgb(255, 255, 255, 0.5), 15px 15px 0px #d6e4dd;
  -webkit-box-shadow: 5px 5px 5px rgb(255, 255, 255, 0.5), 15px 15px 0px #d6e4dd;
  -khtml-box-shadow: 5px 5px 5px rgb(255, 255, 255, 0.5), 15px 15px 0px #d6e4dd;
}

.logotext {
  color: #0E8555;
}

.logotext:hover {
  color: #0E8555;
}

.logotext-lt {
  color: #ffffff;
}

.logotext-lt:hover {
  color: #ffffff;
}

a.route-link, a.route-link a {
  text-decoration: none;
  color: #0E8555;
}

.route-link:hover, a.route-link a:hover {
  color: #0a5839;
}

.resource-tile {
  min-height: 350px;
}

.resource-tile h3:hover {
  color: #0a5839;
}

.btn-group-label {
  font-weight: 500;
  font-size: 1.2rem;
}

.nav-link.footer {
  padding-left: 0;
  padding-right: 0 !important;
}

.pending {
  color: #8a8a8a;
}

@media(max-width:767px) {
  .resource-tile {
    min-height: 250px;
  }
}

.nav-link.tran {
  color: #ffffff !important;
}
.nav-link.footer {
  padding-left: 0;
  padding-right: 0 !important;
}

#main-page-container {
  margin-top: 2rem;
}

.nav-item {
  text-align: right;
}

.navbar-toggler-icon.white {
  color: #ffffff;
  border-collapse: #ffffff;
}

.navbar-toggler-icon.white {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler-icon.white {
  border-color: rgb(255, 255, 255);
}

.tran dl, .tran ol, .tran p, .tran pre, .tran ul {
  margin-top: 1rem;
}

.copy-span {
  font-size: .5rem;
  line-height: .5rem;
}

.p-xs-3 {
  padding: 5rem 1rem;
}

.bg-dark-alt {
  background-color: #222222 !important;
}

.bg-dark-alt a, .bg-dark-alt p {
  color: #ffffff !important;
}

.shadow-hover {
  transition: .2s;
}

.shadow-hover:hover {
  box-shadow: 0 .3125rem .875rem 0 rgba(129, 129, 129, .4) !important;
}

.hide {
  display: none;
}

/* #listing-price {
  font-size: 1.4rem;
} */

/* Extra small devices (portrait phones, less than 576px)
   No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */

.loader {
  max-width: 100px;
  width: 100%;
}

h3.logotext, h3.logotext-lt {
  display: none !important;
}

.bg-primary {
  background-color: #0E8555 !important;
}

.sub-special-text {
  color: #8a8a8a;
  font-size: .85rem;
}

@media (min-width: 576px) {
  #main-page-container {
    margin-top: 3rem;
  }
  .p-xs-3 {
    padding: 7.5rem;
  }
  .logo-text {
    display: none;
  }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
  #main-page-container {
    margin-top: 5rem;
  }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
  #main-page-container {
    margin-top: 7rem;
  }
  h3.logotext, h3.logotext-lt {
    display: inline-block !important;
  }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}