<!DOCTYPE html>
<html>

<head>
    {% include 'partials/head-contents.html' %}

</head>

<body>
    {% include 'partials/navbar.html' %}
    <section class="fdb-block fp-active" data-block-type="contents" data-id="2" draggable="true" style="min-height: 83vh; height: 100%;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8 col-xl-6 text-center">
                    <img alt="image" width="200" src="/assets/img/error404.svg">
                    <h1>Nothing To See Here</h1>
                    <p class="lead">We can't seem to find the page that you are looking for.</p>

                    <p class="h3 mt-5"><a href="/" class="btn btn-primary">Return Home</a></p>
                </div>
            </div>
        </div>
    </section>
    {% include 'partials/footer.html' %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/froala-editor@2.9.1/js/froala_editor.pkgd.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>

</body>

</html>