<!DOCTYPE html>
<html>

<head>
  {% include 'partials/head-contents.html' %}

  <!-- script supports submitting subscriber email -->
  <script src="/assets/custom_js/submitContact.js"></script>
</head>

<body>
  {% include 'partials/navbar.html' %}
  <section class="fdb-block py-0" data-block-type="contacts" data-id="1" draggable="true"
    style="height: 100%; min-height: 85vh">
    <div class="container py-5 my-5"
      style="background-image: url(https://cdn.jsdelivr.net/gh/froala/design-blocks@2.0.1/dist/imgs//shapes/9.svg); display: flex !important; justify-content: center !important; align-items: center !important;">
      <div class="row py-5" style="width: 100%;">
        <div class="col py-5">
          <div class="fdb-box fdb-touch">
            <div class="row text-center justify-content-center">
              <div class="col-12 col-md-9 col-lg-7">
                <h1>Contact Us</h1>
                <p class="lead">Please reach out with any questions or concerns.</p>
              </div>
            </div>

            <div class="row justify-content-center pt-4">
              <div class="col-12 col-md-8">
                <div id="loader" class="container text-center hide">
                  <img alt="load" class="img-fluid" src="/assets/img/Rolling-1s-200px.svg"
                    style="max-width: 200px; width: 100%;">
                </div>
                <div id="thanks" class="container text-center hide">
                  <img alt="success" class="img-fluid " src="/assets/img/check.svg"
                    style="max-width: 300px; width: 100%;">
                  <h2>Thank You</h2>
                  <p class="lead">
                    We look forward to talking to you soon.
                  </p>
                </div>
                <div id="error" class="container text-center hide">
                  <!-- <img alt="success" class="img-fluid " src="/assets/img/check.svg"
                        style="max-width: 300px; width: 100%;"> -->
                  <h2>Whoops</h2>
                  <p class="lead">
                    Something has gone wrong!
                  </p>
                </div>
                <form id="contact-form" method="POST" action="">
                  <div class="row">
                    <div class="col-12 col-sm-6 mt-sm-0">
                      <input autocomplete="off" required type="text" class="form-control" placeholder="First name"
                        name="first_name">
                    </div>
                    <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                      <input autocomplete="off" required type="text" class="form-control" placeholder="Last name"
                        name="last_name">
                    </div>
                  </div>

                  <div class="row mt-4">
                    <div class="col">
                      <input autocomplete="off" required type="email" class="form-control" placeholder="Enter email"
                        name="email">
                    </div>
                  </div>

                  <div class="row mt-4">
                    <div class="col">
                      <input autocomplete="off" required onChange="addhyphen();" type="phone" class="form-control"
                        placeholder="Phone" name="phone">
                    </div>
                  </div>
                  <div class="row mt-4">
                    <div class="col">
                      <textarea autocomplete="off" required class="form-control" name="message" rows="3"
                        placeholder="Tell us about your FedEx Ground business"></textarea>
                    </div>
                  </div>
                  <div class="row mt-4">
                    <div class="col">
                      <input type="submit" id="submit_form_button" class="btn btn-primary" type="button"
                        value="Submit"></input>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% include 'partials/footer.html' %}
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/froala-editor@2.9.1/js/froala_editor.pkgd.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>

  <script>

    window.onload = function () {
        var form = document.getElementById('contact-form');
        addContactEvent(form);
    }

    

</script>

</body>

</html>