<!DOCTYPE html>
<html>

<head>
  {% include 'partials/head-contents.html' %}
  <!-- <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@12.0.0/dist/lazyload.min.js"></script> -->
  <link rel="stylesheet" href="/assets/css/animate.css">

  <!-- script supports submitting subscriber email -->
  <script src="/assets/custom_js/submitSubscriber.js"></script>
</head>

<body>

  <section class="fdb-block fdb-viewport bg-dark homebg lazy" style="padding-top: 0px;">
    {% include 'partials/navbar-tran.html' %}
    <div id="main-page-container" class="container align-items-center justify-content-center d-flex p-sm-4">
      <div class="row align-items-center text-left p-4">
        <div class="col-12 col-sm-10 col-md-8 col-lg-8 animated fadeIn">
          <!-- <h1>With the experts that know it best</h1> -->
          <h1>Get into the industry with the experts that know it best.</h1>
          <p class="lead">Years of experience and proven methods.</p>
          <p class="mt-5">
            <a href="/availableFedExRoutes" class="m-lg-2" style="text-decoration: none;">
              <button class="bttn-simple bttn-md bttn-success my-2">Routes for Sale</button>
            </a>
            <a href="https://www.buildagroundbiz.com/about-fedex-ground" target="_blank" class="m-md-2">
              <button class="bttn-bordered bttn-md bttn-default my-2">FedEx<span class="copy-span">&copy;</span>
                Contracting</button>
            </a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="fdb-block" data-block-type="features" data-id="4" draggable="true" style="padding: 5rem  0;">
    <div class="container animated fadeInUp">

      <div class="row text-center justify-content-center mt-2 ">
        <div class="col-12 col-sm-4 col-xl-3 m-auto pt-4 pt-sm-0">
          <span class="text-green" style="font-size: 3em;">
            <i class="fas fa-map-marked-alt"></i>
          </span>
          <p>Leverage our knowledge and experience for your success with FedEx<span class="copy-span">&copy;</span>
            Ground</p>
        </div>

        <div class="col-12 col-sm-4 col-xl-3 m-auto pt-4 pt-sm-0">
          <span class="text-green" style="font-size: 3em;">
            <i class="fas fa-network-wired"></i>
          </span>
          <p>We have the connections to provide you with the routes that will set you up for success</p>
        </div>

        <div class="col-12 col-sm-4 col-xl-3 m-auto pt-4 pt-sm-0">
          <span class="text-green" style="font-size: 3em;">
            <i class="fas fa-paper-plane"></i>
          </span>
          <p>We have the experience and understanding to get you started in the right direction</p>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <hr>
  </div>
  <section class="fdb-block" data-block-type="contents" data-id="8" draggable="true">
    <div class="container">
      <div class="row align-items-center">
        <!-- <div class="col-10 col-sm-6 col-md-5 col-lg-5 m-auto pb-5 pb-md-0">
          <div class="text-center">
            <img alt="image" class="img-fluid" src="/assets/img/map-2.svg" style="max-height: 300px; max-width: 300px;">
          </div>
        </div> -->
        <div class="col-12 col-md-6 col-lg-6 pb-5 pb-md-0 px-4 text-center">
          <h2 class="">FedEx<span class="copy-span">&copy;</span> Contracting</h2>
          <p class="lead">
            Let's find the routes that are perfect for you.
            Look into the cost, location, and income.
          </p>
          <p class="mt-4"><a class="btn btn-primary mb-5 mb-md-0" href="/availableFedExRoutes">View Available Routes</a></p>
        </div>
        <div class="col-12  col-md-6 col-lg-6 pb-5 pb-md-0 px-4 text-center">
          <h2>Looking to sell your routes?</h2>
          <p class="lead">
            Use our platform and network to give your Fedex<span class="copy-span">&copy;</span> Ground routes the
            exposure they need.
          </p>
          <p class="mt-4">
            <a class="btn btn-primary" href="/sellFedExRoutes">More Info</a>
          </p>
        </div>

        
      </div>
    </div>
  </section>
  <section class="fdb-block" style="background-image: url(/assets/img/8.svg)" data-block-type="contents"
    data-id="1" draggable="true">
    <div class="container">
      <div class="row align-items-center text-right">
        <div class="col-12 col-md-6 col-lg-5">
          <h2>Learn More About Fedex<span class="copy-span">&copy;</span> Ground</h2>
          <p>
            <a class="btn btn-primary mt-4 mb-5 mb-md-0" target="_blank"
              href="https://www.buildagroundbiz.com/about-fedex-ground/overview">About the Industry</a>
          </p>
        </div>
        <div class="col-10 col-sm-6 m-auto col-md-4 pt-4 pt-md-0">
          <img alt="image" class="img-fluid" src="/assets/img/box.svg">
        </div>
      </div>
    </div>
  </section>

  <section class="fdb-block bg-lt-green" data-block-type="forms" data-id="10" draggable="true">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12  col-md-12 col-lg-12 col-xl-8 text-center">
          <span class="text-green" style="font-size: 4em;">
            <i class="far fa-envelope"></i>
          </span>
          <div class="container">
            <img alt="load" id="loader" class="img-fluid loader hide" src="/assets/img/Rolling-1s-200px.svg">
          </div>
          <h1 id="subscribe-header" class="animated">Never miss an opportunity</h1>
          <p id="subscribe-subhead" class="lead animated">Get updates when new routes are available. </p>
          <div id="subscribe-content">

            <form id="sub-form" method="POST" action="">
              <div class="input-group mt-4 mb-4 justify-content-center">
                <input id="email-address-input" type="email" class="form-control" autocomplete="off"
                  placeholder="Enter your email address" style="max-width: 350px;">
                <div class="input-group-append">
                  <input type="submit" id="submit_form_button" class="btn btn-primary" type="button"
                    value="Submit"></input>
                </div>
              </div>
            </form>
            <p class="h5"><em>*Your email address is safe with us. We never share your email address.</em></p>
          </div>
        </div>
      </div>
    </div>
  </section>


  {% include 'partials/footer.html' %}
  <script src="/assets/js/select-fontawesome.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/froala-editor@2.9.1/js/froala_editor.pkgd.min.js"></script> -->

  <script>

    window.onload = function () {
      
      var form = document.getElementById('sub-form');
      addSubscriberEvent(form);

    }

  </script>
</body>

</html>