<!DOCTYPE html>
<html>

<head>
  {% include 'partials/head-contents.html' %}
  <!-- Leaflet Maps -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />

</head>

<body>
  {% include 'partials/navbar.html' %}
  <section class="fdb-block pb-4" data-block-type="features" data-id="1" draggable="true">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-lg-12 col-xl-12">
          <h1 id="route-state" class="mb-0 pb-0" style="line-height: 1;">Florida</h1>
          <h3 id="route-category" class="text-muted mt-0 pt-0 pl-1" style="font-weight: 500;">Linehaul</h3>
        </div>
        <div class="col-12 col-lg-6 col-xl-5">
          <h3><strong>Other Information</strong></h3>

          <p class="lead">Fleet included. More details available upon request.</p>
          <p class="lead">Operation has a full time manager.</p>
          <p class="lead">9 full time employees</p>


          <div class="row pt-2">
            <div class="col-12 col-sm-6 ">
              <h2 class="mt-2"><strong>Listing Price:</strong></h2>
            </div>
            <div class="col-12 col-sm-6 text-left text-sm-right ">
              <h2><strong><button class="bttn-pill bttn-md bttn-success pb">$&nbsp;<span
                      id="listing-price"></span></button></strong></h2>
            </div>
          </div>




          <div class="row pt-2 pt-xl-3 mb-4">
            <div class="col-12 col-sm-5 col-md-5">
              <h2><strong><button id="routes-for-sale"
                    class="bttn-pill bttn-md bttn-success pb">&nbsp;</button>&nbsp;&nbsp;Routes</strong></h2>
            </div>
            <div class="col-12 col-md-5 m-auto pt-3 pt-sm-0 pt-md-0">
              <h2><strong><button id="trucks-for-sale"
                    class="bttn-pill bttn-md bttn-success pb">&nbsp;</button>&nbsp;&nbsp;Trucks</strong></h2>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-5" style="display: flex; align-items: flex-start">
          TEST
        </div>
        <div class="col-12 col-md-12 col-lg-6 m-auto mr-lg-0 ml-lg-auto pt-5 pt-sm-0">
          <div class="row">
            <div class="col-6">
              <h3><strong>Cash Flow</strong></h3>
              <p class="lead">$<span id="cash-flow"></span></p>
            </div>
            <div class="col-6">
              <h3><strong>Net Income</strong></h3>
              <p class="lead">$218,611</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h3><strong>Listing Price is: &nbsp;<span style="font-size: 1.5rem">90%</span></strong></h3>
              <p class="lead">of Annual Revenue</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <hr>
  </div>
  <section class="fdb-block pt-4" data-block-type="features" data-id="2" draggable="true">
    <div class="container">
      <div class="row">

        <div class="col-12 col-sm-12 col-md-6 text-left">
          <a class="btn btn-xs btn-primary mt-4 mb-1 mb-md-0" style="color: #ffffff">I'm Interested?</a>
          <a class="btn btn-xs btn-info mt-4 mb-1 mb-md-0" style="color: #ffffff">Save to My Favorites?</a>

        </div>
        <div class="col-12 col-sm-12 col-md-6 text-sm-left text-md-right">
          <a class="btn btn-xs btn-light mt-4 mb-1 mb-md-0">View Similar Routes</a>
        </div>
      </div>

      <div class="row text-left justify-content-center pt-5">
        <div class="col-12 col-md-6 col-lg-6 m-auto">
          <h3><strong>Reason for Selling</strong></h3>

          <p class="lead">Should we include a short reason for selling? venmo vinyl sartorial polaroid bespoke salvia
            ramps.</p>
        </div>
        <div class="col-12 col-md-6 col-lg-5 m-auto pt-3 pt-md-0">


        </div>
      </div>

      <div class="row text-left justify-content-center pt-lg-4">
        <div class="col-12 col-md-6 col-lg-6 m-auto pt-3 pt-lg-0">

        </div>
        <div class="col-12 col-md-6 col-lg-5 m-auto pt-3 pt-lg-0">
        </div>
      </div>
    </div>
  </section>
  {% include 'partials/footer.html' %}
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/froala-editor@2.9.1/js/froala_editor.pkgd.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>

  <!-- Make sure you put this AFTER Leaflet's CSS -->
  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
    integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
    crossorigin=""></script>

  <script>

    window.onload = function () {
      // console.log("{{ id }}");

      // getRoute("{{ id }}").then(
      //   resolve => populatePage(resolve)
      // );

    }

    function getRoute(id) {
      return new Promise(function (resolve, reject) {
        var url = "/routeInfo/" + id;
        fetch(url, {
          method: 'POST'
        })
          .then(response => response.json())
          .then(data => {
            // console.log(data);
            resolve(data.data);
          })
      })
    }

    function populatePage(data) {
      // displayMap(data.location.lat, data.location.lng);
      var city = document.getElementById('route-city');
      city.innerHTML = data.city;
      var state = document.getElementById('route-state');
      state.innerHTML = data.state;
      document.getElementById('routes-for-sale').innerHTML = data.routes_for_sale;
      document.getElementById('trucks-for-sale').innerHTML = data.tractors_for_sale;
      document.getElementById('listing-price').innerHTML = numberWithCommas(data.listing_price);
      document.getElementById('cash-flow').innerHTML = numberWithCommas(data.cash_flow);
      console.log(data);
    }

    function displayMap(lat, lng) {

      var map = document.getElementById('map');

      var mymap = L.map(map, { zoomControl: false, closePopupOnClick: false, dragging: false, scrollWheelZoom: false }).setView([lat, lng], 12);
      // L.zoomControl(false).addTo(mymap);

      L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiY29kb2JpdGRldiIsImEiOiJjandxM3MweWswZGM1NDRxaWhsbXliNmxzIn0.14ZaScXQBXrVNnkOylm0zA', {
        attribution: '',
        maxZoom: 18,
        id: 'mapbox.light',
        accessToken: 'pk.eyJ1IjoiY29kb2JpdGRldiIsImEiOiJjandxM3MweWswZGM1NDRxaWhsbXliNmxzIn0.14ZaScXQBXrVNnkOylm0zA'
      }).addTo(mymap);

      L.marker([lat, lng]).addTo(mymap);
    }

    const numberWithCommas = (x) => {
      return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

  </script>
</body>

</html>