<!DOCTYPE html>
<html>

<head>
    {% include 'partials/head-contents.html' %}

    <!-- Leaflet Maps -->
    <!-- <link crossorigin="" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        rel="stylesheet" /> -->

    <!-- script supports fetching route information -->
    <script src="/assets/custom_js/routes.js?v=1.1"></script>
    <!-- script supports submitting subscriber email -->
    <script src="/assets/custom_js/submitSubscriber.js"></script>


</head>

<body>
    {% include 'partials/navbar.html' %}
    <section class="fdb-block fp-active" data-block-type="features" data-id="1" draggable="true"
        style="display: flex !important; justify-content: center !important; align-items: center !important; height: 100%;">
        <div class="container">
            <div class="row justify-content-center mb-4">
                <div class="col-12 text-center">
                    <div class="row">
                        <div class="col">
                            <h1>Routes for Sale</h1>
                            <!-- <p class="lead">When she reached the first hills, she had a last view back on the 
                                skyline of her hometown.</p> -->
                        </div>
                    </div>

                    {% include 'partials/sort-row.html' %}


                </div>
            </div>
            <div class="row text-left justify-content-left" id="routeDiv" style="width: 100%; height: 40vh;">
                <div class="container text-center">
                    <img alt="load" id="loader" class="img-fluid" src="/assets/img/Rolling-1s-200px.svg"
                        style="max-width: 100px; width: 100%;">
                </div>
                <!--<div class="container text-center">-->
                <!--    <div class="row">-->
                <!--        <div class="col">-->
                <!--            <p>No Routes Available</p>-->
                <!--        </div>-->
                <!--    </div>-->
                <!--</div>-->


            </div>
        </div>
    </section>
    <div class="container">
        <hr>
    </div>
    <section class="fdb-block" data-block-type="contents" data-id="1" draggable="true">
        <div class="container">
            <div class="row text-left align-items-center">
                <div class="col-12 col-md-6 col-lg-4">
                    <h2>More Options</h2>
                    <p class="lead">
                        Not finding what you are looking for? Reach out and let us know how we can help.
                    </p>
                    <p class="lead">
                        <a href="/contact">Contact</a>
                    </p>
                </div>

                <div class="col-12 col-md-6 col-lg-4 pt-4 pt-md-0">
                    <h2>Recently Sold</h2>
                    <p class="lead">
                        Take a look at routes that we have recently sold. It might give some insight.
                    </p>
                    <p class="lead">
                        <a href="/soldFedExRoutes">View More</a>
                    </p>
                </div>

                <div class="col-12 col-md-8 m-auto m-lg-0 col-lg-4 pt-5 pt-lg-0">
                    <img alt="image" class="img-fluid" src="/assets/img/map.svg">
                </div>
            </div>
        </div>
    </section>
    <section class="fdb-block" data-block-type="forms" data-id="3" draggable="true"
        style="background-image: url(/assets/img/11.svg);">
        <div class="container">
            <div class="fdb-box">

                <div class="row justify-content-center align-items-center">
                    <div class="col-12 col-lg-5">
                        <h2 class="animated" id="subscribe-header">Never miss an opportunity</h2>
                        <div class="container">
                            <img alt="load" class="img-fluid hide" id="loader" src="/assets/img/Rolling-1s-200px.svg"
                                style="max-width: 100px; width: 100%;">
                        </div>
                        <p class="lead animated" id="subscribe-subhead">Get updates when new routes are available.
                        </p>

                    </div>

                    <div class="col-12 col-lg-6 text-center">
                        <div id="subscribe-content">
                            {% include 'partials/subscriber-form.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include 'partials/footer.html' %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

    <!-- Make sure you put this AFTER Leaflet's CSS 
    <script crossorigin=""
        integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
        src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"> </script>-->


    <script>

        window.onload = function () {

            var mainDiv = document.getElementById('routeDiv');

            addRoutes('available');// get the available routes
            // the page will load at full height
            // after everything loads, return the page to default height
            mainDiv.setAttribute('style', 'height: 100%')

            // set up the subscriber form
            var form = document.getElementById('sub-form');
            addSubscriberEvent(form);
            
        }

    </script>


</body>

</html>