<!DOCTYPE html>
<html>

<head>
  {% include 'partials/head-contents.html' %}
  <!-- Leaflet Maps -->
  <!-- <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" /> -->

  <!-- script supports getting route information -->
  <script src="/assets/custom_js/routeIndividual.js"></script>
</head>

<body>
  {% include 'partials/navbar.html' %}
  <section class="fdb-block pb-4" data-block-type="features" data-id="1" draggable="true">
    <div class="container">
      <div class="row align-items-top">
        <div class="col-12 col-lg-12 col-xl-12">
          <h1 id="route-state" class="mb-0 pb-0" style="line-height: 1; font-size: 4rem"></h1>
          <h3 id="route-category" class="text-muted mt-0 pt-0 pl-1" style="font-weight: 500;"></h3>
		  <span class="text-muted mt-0 pt-0 pl-1" style="font-weight: 400;">Listing Number: </span>
		  <span id="listing-number" class="text-muted mt-0 pt-0 pl-1" style="font-weight: 500;">13445</span>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12 col-lg-6 col-xl-6">
          <h3><strong>Details</strong></h3>
          <hr>
          <div class="row pt-2 pt-xl-3 mb-4">
            <div class="col">
              <h3>
                <strong>
                  <button id="routes-for-sale" class="bttn-pill bttn-sm bttn-success pb">&nbsp;
                  </button>&nbsp;&nbsp;<span id="route-label">Routes</span>
                </strong>
              </h3>
            </div>
            <div class="col">
              <h3>
                <strong>
                  <button id="trucks-for-sale" class="bttn-pill bttn-sm bttn-success pb">&nbsp;
                  </button>&nbsp;&nbsp;<span id="truck-label">Trucks</span>
                </strong>
              </h3>
            </div>
          </div>
          <div class="mt-5"></div>
          <!-- <h3><strong>Financial</strong></h3> -->
          <hr>
          <div class="row">
            <div class="col-6" id="cash-flow-col">
              <h4><strong>Cash Flow</strong></h4>
              <p class="lead">$&nbsp;<span id="cash-flow">--</span></p>
            </div>
            <!-- <div class="col-6">
              <h4><strong>Net Income</strong></h4>
              <p class="lead">$&nbsp;<span id="net-income">--</span></p>
            </div> -->
            <div class="col-6">
              <h4><strong>Revenue</strong></h4>
              <p class="lead">$&nbsp;<span id="revenue">--</span></p>
            </div>
            <div class="col-6">
              <h4><strong>Listing Price %</strong></h4>
              <p class="lead"><span id="perc-of-revenue">--</span>%
              <span class="sub-special-text">of annual revenue</span>
            </p>
            </div>
          </div>
          <div class="mt-5"></div>



        </div>
        <div class="col-12 col-lg-6 col-xl-6">
          <h3><strong>Other Information</strong></h3>
          <hr>
          <p class="lead" id="fleet-included">--</p>
          <p class="lead" id="fleet-value">--</p>
          <p class="lead" id="information">--</p>
          <!-- <p class="lead">Operation has a full time manager.</p>
          <p class="lead">9 full time employees</p> -->
          <div class="mt-5"></div>
          <!-- <h3 class="mt-4 pt-4"><strong>Reason for Selling</strong></h3>
          <hr>
          <p class="lead">Should we include a short reason for selling? venmo vinyl sartorial polaroid bespoke salvia
            ramps.</p> -->
        </div>

      </div>
    </div>
  </section>
  <div class="container">
    <hr>
  </div>
  <section class="fdb-block pt-4 pb-5" data-block-type="features" data-id="2" draggable="true">
    <div class="container">
      <div class="row">

        <div class="col-12 col-sm-12 col-lg-8 text-center text-sm-left align-middle">
          <h2 style="display: inline-block">Listing Price:</h2>&nbsp;&nbsp;
          <button class="bttn-pill bttn-md bttn-success pb" style="font-size: 1.8rem;">$&nbsp;<span id="listing-price">--</span></button>
          <button class="bttn-unite bttn-xs bttn-success ml-4" id="sale-pending" style="display: none;">
              Relisted
            </button>

        </div>
        <div class="col-12 col-sm-12 col-lg-4 mt-4 mt-lg-0 text-center text-md-left text-lg-right align-middle">
            <a href="{{ url_for('contact') }}" class="btn btn-xs btn-primary mt-2 mb-1 mb-md-0" style="color: #ffffff">More Information</a>
            <!-- <a class="btn btn-xs btn-info mt-2 mb-1 mb-md-0" style="color: #ffffff">Save to My Favorites</a> -->
          <!-- <a class="btn btn-xs btn-light mt-4 mb-1 mb-md-0">Routes With Similar Price</a>
          <a class="btn btn-xs btn-light mt-4 mb-1 mb-md-0">Routes In Similar Region</a> -->
        </div>
      </div>


    </div>
  </section>
  <div class="container">
    <hr>
  </div>
  <section class="fdb-block pt-4 pb-5" data-block-type="features" data-id="2" draggable="true">
    <div class="container">
      <div class="row mb-4">
        <div class="col-12 col-sm-12">
          <h2>Other Routes You May Be Interested In</h2>
        </div>
      </div>
      <div class="row" id="more-routes-row">
        <!-- <div class="col-sm-12 col-md-4 col-lg-3 my-4">
          <div class="fdb-box fdb-touch p-0 shadow-hover"><a class="route-link" href="/route/2">

              <div class="p-3">
                <a class="route-link" href="/route/2">
                  <h2 class="pt-2 mb-0 pb-0">Florida</h2>
                  <h3 class="text-muted mt-0 pt-0 pb-2">Linehaul</h3>
                  <p class="m-0">Listing Price: $1,170,000</p>
                  <p class="m-0">7 Routes / 9 Trucks</p>
                </a>
                <a class="btn btn-xs btn-primary mt-4 mb-5 mb-md-0" href="/route/2" style="color: #ffffff">More
                  Info</a>
              </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-3 my-4">
          <div class="fdb-box fdb-touch p-0 shadow-hover"><a class="route-link" href="/route/2">

              <div class="p-3">
                <a class="route-link" href="/route/2">
                  <h2 class="pt-2 mb-0 pb-0">Florida</h2>
                  <h3 class="text-muted mt-0 pt-0 pb-2">Linehaul</h3>
                  <p class="m-0">Listing Price: $1,170,000</p>
                  <p class="m-0">7 Routes / 9 Trucks</p>
                </a>
                <a class="btn btn-xs btn-primary mt-4 mb-5 mb-md-0" href="/route/2" style="color: #ffffff">More
                  Info</a>
              </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-3 my-4">
          <div class="fdb-box fdb-touch p-0 shadow-hover"><a class="route-link" href="/route/2">

              <div class="p-3">
                <a class="route-link" href="/route/2">
                  <h2 class="pt-2 mb-0 pb-0">Florida</h2>
                  <h3 class="text-muted mt-0 pt-0 pb-2">Linehaul</h3>
                  <p class="m-0">Listing Price: $1,170,000</p>
                  <p class="m-0">7 Routes / 9 Trucks</p>
                </a>
                <a class="btn btn-xs btn-primary mt-4 mb-5 mb-md-0" href="/route/2" style="color: #ffffff">More
                  Info</a>
              </div>
          </div>
        </div> -->
      </div>
      <hr>
      <div class="row mb-4">
        <div class="col-12 col-sm-12 text-sm-left">
          <a href="{{ url_for('routes.available') }}" class="btn btn-xs btn-light mt-4 mb-1 mb-md-0">View All Available
            Routes</a>
          <a href="{{ url_for('routes.sold') }}" class="btn btn-xs btn-light mt-4 mb-1 mb-md-0">View Previously Sold
            Routes</a>
        </div>
      </div>
    </div>

  </section>
  {% include 'partials/footer.html' %}
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/froala-editor@2.9.1/js/froala_editor.pkgd.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>

  <!-- Make sure you put this AFTER Leaflet's CSS -->
  <!-- <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" -->
    <!-- integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" -->
    <!-- crossorigin=""></script> -->

  <script>

    window.onload = function () {
      // console.log("{{ id }}");

      getRoute("{{ id }}").then(
        resolve => {
          populatePage(resolve);
          getSimilarRoutes(resolve.listing_price, resolve.category)
          .then(resolve => populateSimilarRoutes(resolve));
        }
      );

    }



  </script>
</body>

</html>
