<!DOCTYPE html>
<html>

<head>
    {% include 'partials/head-contents.html' %}


</head>

<body>
    {% include 'partials/navbar.html' %}
    <section class="fdb-block" data-block-type="features" data-id="3" draggable="true" style="margin-bottom: 35px; padding-bottom: 20px;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-8 col-lg-6 m-auto ml-lg-0 mr-lg-auto pt-5 pt-lg-0">
                    <img alt="image" class="img-fluid" src="/assets/img/united_states.svg">
                </div>
                <div class="col-12 col-lg-6 col-xl-5 text-left">
                    <h1>Selling Your Routes</h1>
                    <p class="lead">
                        Let us assist you in selling your FedEx<span class="copy-span">&copy;</span> Ground routes.
                    </p>

                    <div class="row pt-4 pt-xl-5">
                        <div class="col-12 col-md-6">
                            <h4><strong>Network</strong></h4>
                            <p>Take advantage of our network, made up of buyers with wide ranges of experience and
                                capital.</p>
                        </div>
                        <div class="col-12 col-md-6 pt-0 mt-0 pt-md-0 ">
                            <h4><strong>Operations</strong></h4>
                            <p>
                                We can facilitate the entire sale process so that you can stay focused on your business.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <div class="container">
        <hr>
    </div>
    <section class="fdb-block mb-5" data-block-type="contacts" data-id="4" draggable="true" style="margin-top: 35px; padding-top: 0px;">
        <div class="container">
            <div class="row mt-5">
                <div class="col-12 col-md-6 col-lg-5">
                    <h2>Tell Us More</h2>
                    <p class="lead">
                        We have the experience that you will need to leverage your business for the best return.
                    </p>

                    <p class="lead">
                        Take a look at other FedEx<span class="copy-span">&copy;</span> Ground routes that we have sold:
                    </p>

                    <p class="lead">
                        <a href="/soldFedExRoutes">View More</a>

                    </p>


                    <p class="h3 mt-5">
                        <strong>Email:</strong> <a
                            href="mailto:sales@linehaulconsulting.com">sales@linehaulconsulting.com</a>
                    </p>
                    <!-- <p class="lead">
                        <strong>Phone:</strong> <a href="https://www.froala.com">+44 123 123 1232</a>
                    </p> -->
                </div>

                <div class="col-12 col-md-6 ml-auto pt-5 pt-md-0">
                    <div id="loader" class="container text-center hide">
                        <img alt="load" class="img-fluid" src="/assets/img/Rolling-1s-200px.svg"
                            style="max-width: 200px; width: 100%;">
                    </div>
                    <div id="thanks" class="container text-center hide">
                        <img alt="success" class="img-fluid " src="/assets/img/check.svg"
                            style="max-width: 300px; width: 100%;">
                        <h2>Thank You</h2>
                        <p class="lead">
                            We look forward to talking to you soon.
                        </p>
                    </div>
                    <div id="error" class="container text-center hide">
                        <!-- <img alt="success" class="img-fluid " src="/assets/img/check.svg"
                            style="max-width: 300px; width: 100%;"> -->
                        <h2>Whoops</h2>
                        <p class="lead">
                            Something has gone wrong!
                        </p>
                    </div>
                    <form id="contact-form" method="POST" action="">
                        <div class="row">
                            <div class="col">
                                <input autocomplete="off" required type="text" class="form-control"
                                    placeholder="First name" name="first_name">
                            </div>
                            <div class="col">
                                <input autocomplete="off" required type="text" class="form-control"
                                    placeholder="Last name" name="last_name">
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col">
                                <input autocomplete="off" required type="email" class="form-control"
                                    placeholder="Enter email" name="email">
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col">
                                <input autocomplete="off" required onChange="addhyphen();" type="phone"
                                    class="form-control" placeholder="Phone" name="phone">
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col">
                                <textarea autocomplete="off" required class="form-control" name="message" rows="3"
                                    placeholder="Tell us about your FedEx Ground business"></textarea>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col">
                                <input type="submit" id="submit_form_button" class="btn btn-primary" type="button"
                                    value="Submit"></input>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    {% include 'partials/footer.html' %}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

    <!-- <script src="https://cdn.jsdelivr.net/npm/froala-editor@2.9.1/js/froala_editor.pkgd.min.js"></script> -->
    <!-- <script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script> -->

    <script>

        window.onload = function () {
            var form = document.getElementById('contact-form');
            var submit_form_btn = document.getElementById('submit_form_button');

            form.addEventListener('submit', function (e) {
                e.preventDefault();
                showLoad();

                // console.log(e.target);

                var data = collectFormData(e.target);

                // console.log(data);

                if (e.target.length == 0) {
                    alert("something went wrong");
                } else {
                    submitForm(data).then(resolve => {
                        if (resolve) {
                            showThanks();
                        } else {
                            showError();
                        }
                    });
                }
            })
        }

        function addhyphen() {
            var form = document.getElementById('contact-form');
            str = form[3].value;
            if (str.length == 7) {
                str = str.substring(0, 3) + "-" + str.substring(3, str.length);
            }
            if (str.length == 10) {
                str = str.substring(0, 3) + "-" + str.substring(3, 6) + "-" + str.substring(6, str.length);
            }
            form[3].value = str;
        }

        function collectFormData(form) {
            var data = {
                "first_name": form[0].value,
                "last_name": form[1].value,
                "email": form[2].value,
                "phone": form[3].value,
                "message": form[4].value
            };

            return data;
        }

        function showLoad() {
            var load = document.getElementById('loader');
            var form = document.getElementById('contact-form');

            form.classList.add('hide');
            load.classList.remove("hide");

        }

        function showThanks() {
            var load = document.getElementById('loader');
            var thanks = document.getElementById('thanks');

            load.classList.add("hide");

            setTimeout(function () {
                thanks.classList.remove("hide");
                thanks.classList.add("fadeIn");
            }, 200);
        }

        function showError() {
            var load = document.getElementById('loader');
            var error = document.getElementById('error');

            load.classList.add("hide");

            setTimeout(function () {
                error.classList.remove("hide");
                error.classList.add("fadeIn");
            }, 200);
        }

        function submitForm(data) {
            return new Promise(function (resolve, reject) {
                var url = "/submitContact";
                fetch(url, {
                    method: 'POST',
                    body: JSON.stringify(data)
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);
                        try {
                            if (data) {
                                resolve(true);
                            } else {
                                resolve(false);
                            }
                        }
                        catch (error) {
                            resolve(false);
                        }
                    })
            })
        }

    </script>
</body>

</html>