<!DOCTYPE html>
<html>

<head>
   <include href="frontend/modules/head-content.htm"/>


</head>

<body>
    {% include 'partials/navbar.html' %}
    <section class="fdb-block" data-block-type="features" data-id="3" draggable="true">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-8 col-lg-6 m-auto ml-lg-0 mr-lg-auto pt-5 pt-lg-0">
                    <img alt="image" class="img-fluid" src="/assets/frontend/img/united_states.svg">
                </div>
                <div class="col-12 col-lg-6 col-xl-5 text-left">
                    <h1>Selling Your Routes</h1>
                    <p class="lead">
                        Let us assist you in selling your FedEx<span class="copy-span">&copy;</span> Ground routes.
                    </p>

                    <div class="row pt-4 pt-xl-5">
                        <div class="col-12 col-md-6">
                            <h4><strong>Network</strong></h4>
                            <p>Take advantage of our network, made up of buyers with wide ranges of experience and
                                capital.</p>
                        </div>
                        <div class="col-12 col-md-6 pt-0 mt-0 pt-md-0 ">
                            <h4><strong>Operations</strong></h4>
                            <p>
                                We can facilitate the entire sale process so that you can stay focused on your business.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    {% include 'partials/footer.html' %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/froala-editor@2.9.1/js/froala_editor.pkgd.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>

</body>

</html>