<!DOCTYPE html>
<html>

<head>
  {% include 'partials/head-contents.html' %}

  <!-- Leaflet Maps -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />

  <!-- script supports fetching route information -->
  <script src="/assets/custom_js/routes.js?v=1.1"></script>

  <!-- script supports submitting subscriber email -->
  <script src="/assets/custom_js/submitSubscriber.js"></script>

</head>

<body>
  {% include 'partials/navbar.html' %}
  <section class="fdb-block fp-active" data-block-type="features" data-id="1" draggable="true"
    style="display: flex !important; justify-content: center !important; align-items: center !important; height: 100%;">
    <div class="container">
      <div class="row justify-content-center mb-4">
        <div class="col-12  text-center">
          <div class="row">
            <div class="col">
              <h1>Sold Routes</h1>
              <!-- <p class="lead">When she reached the first hills, she had a last view back on the skyline of her hometown.</p> -->
            </div>
          </div>
          {% include 'partials/sort-row.html' %}
        </div>
      </div>
      <div id="routeDiv" class="row text-left justify-content-left" style="width: 100%; height: 40vh;">

        <div class="container text-center">
          <img alt="load" id="loader" class="img-fluid" src="/assets/img/Rolling-1s-200px.svg"
            style="max-width: 100px; width: 100%;">
        </div>
        <!-- <a class="route-link" href="/">
          <div class="col-12 col-md-8 my-4 col-lg-4">
            <div class="fdb-box fdb-touch p-0">
              <div class="map" style="height: 180px;" lat="37.540725" lon="-77.436048">
              </div>
              <div class="p-3">
                <h2>Richmond, VA</h2>
                <p class="m-0">Listing Price: $999,000</p>
                <p class="m-0">Cash Flow: $202,320</p>
                <p class="m-0">Composition: 18 Routes</p>
                <p class="m-0">Trucks: 19 trucks</p>
                <p class="mt-2"><a href="/">Read more</a></p>
              </div>
            </div>
          </div>
        </a> -->



      </div>
    </div>
  </section>
  <section class="fdb-block" style="background-image: url(/assets/img/11.svg);" data-block-type="forms" data-id="3"
    draggable="true">
    <div class="container">
      <div class="fdb-box">

        <div class="row justify-content-center align-items-center">
          <div class="col-12 col-lg-5">
            <h2 id="subscribe-header" class="animated">Never miss an opportunity</h2>
            <div class="container">
              <img alt="load" id="loader" class="img-fluid hide" src="/assets/img/Rolling-1s-200px.svg"
                style="max-width: 100px; width: 100%;">
            </div>
            <p id="subscribe-subhead" class="lead animated">Get updates when new routes are available.
            </p>

          </div>

          <div class="col-12 col-lg-6 text-center">
            <div id="subscribe-content">
			
			{% include 'partials/subscriber-form.html' %}
			
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% include 'partials/footer.html' %}
  <script src="https://kit.fontawesome.com/990702b84b.js"></script>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/froala-editor@2.9.1/js/froala_editor.pkgd.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>



  <!-- Make sure you put this AFTER Leaflet's CSS -->
  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
    integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
    crossorigin=""></script>


  <script>

    window.onload = function () {

      var mainDiv = document.getElementById('routeDiv');

      addRoutes('sold');// get the sold routes
      // the page will load at full height
      // after everything loads, return the page to default height
      mainDiv.setAttribute('style', 'height: 100%')

      // set up the subscriber form
      var form = document.getElementById('sub-form');
      addSubscriberEvent(form);

    }


  </script>




</body>

</html>