<!DOCTYPE html>
<html lang="en">

<head>

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />


    <title>Sign In</title>

    {% include 'partials/head-contents.html' %}


    <!--
    HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
  -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
    <!-- <script src="assets/plugins/nprogress/nprogress.js"></script> -->
  </head>

</head>

<body class="" id="body">
  <div class="container d-flex flex-column justify-content-between vh-100">
    <div class="row justify-content-center mt-5">
      <div class="col-xl-5 col-lg-6 col-md-10">
        <div class="card">
          <div class="card-header bg-primary">
            <div class="app-brand dk">
              <a href="{{ url_for('home') }}">
                <img src="{{ assets }}/img/linehaul-logo-white-sm.svg" width="45">
                <span class="brand-name">Linehaul Admin</span>
              </a>
            </div>
          </div>
          <div class="card-body p-5">
            {% include 'partials/flash.html' %}


            <h4 class="text-dark mb-5">Sign In</h4>
            <form method="POST" action="{{ url_for('auth.signin') }}">
              <div class="row">
                <div class="form-group col-md-12 mb-4">
                  <input name="email" type="email" class="form-control input-lg" id="email" aria-describedby="emailHelp"
                    placeholder="Username">
                </div>
                <div class="form-group col-md-12 ">
                  <input type="password" name="password" class="form-control input-lg" id="password"
                    placeholder="Password">
                </div>
                <div class="col-md-12">
                  <div class="d-flex my-2 justify-content-between">
                    <!-- <div class="d-inline-block mr-3"> -->
                      <!-- <label class="control control-checkbox">Remember me -->
                        <!-- <input type="checkbox" /> -->
                        <!-- <div class="control-indicator"></div> -->
                      <!-- </label> -->

                    <!-- </div> -->
                    <!-- <p><a class="text-blue" href="#">Forgot Your Password?</a></p> -->
                  </div>
                  <button type="submit" class="btn btn-lg btn-primary btn-block mb-4">Sign In</button>
                  <!-- <p>Don't have an account yet ?
                    <a class="text-blue" href="{{ url_for('auth.signin') }}">Sign Up</a>
                  </p> -->
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright pl-0">
      <p class="text-center">&copy; {{ "now"|date('Y') }} Copyright Linehaul Consulting
      </p>
    </div>
  </div>

</body>

</html>
