<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />


  {% include 'partials/head-contents.html' %}
</head>


<body class="header-fixed sidebar-fixed sidebar-dark header-light" id="body">
  <script>
    NProgress.configure({ showSpinner: false });
    NProgress.start();
  </script>

  <div class="mobile-sticky-body-overlay"></div>


  <!-- <div id="toaster"></div> -->


  <div class="wrapper">

    <!--
          ====================================
          ——— LEFT SIDEBAR WITH FOOTER
          =====================================
        -->
    {% include 'partials/sidebar.html' %}




    <div class="page-wrapper">
      <!-- Header -->
      {% include 'partials/header.html' %}


      <div class="content-wrapper">
        <div class="content">
          <!-- Top Statistics -->
          <div class="row" id="testRow">
            <!-- <div class="col-xl-3 col-sm-6">
              <div class="card card-mini mb-4">
                <div class="card-body">
                  <h2 class="mb-1">Div One</h2>
                  <p>Online Signups</p>
                  <div class="chartjs-wrapper">
                    <canvas id="barChart"></canvas>
                  </div>
                </div>
              </div>
            </div> -->
          </div>







        </div>




      </div>

      

    </div>
  </div>
  {% include 'partials/foot-contents.html' %}

  <script>
    window.onload = function () {

      getUsers().then(resolve => populate(resolve));// get the available routes


    }
    function getUsers() {
      return new Promise(function (resolve, reject) {
        var url = `/admin/getUsers`;
        // console.log(url);
        // return;
        fetch(url, {
          method: 'POST'
        })
          .then(response => response.json())
          .then(data => {
            console.log(data);
            resolve(data);
          })
      })
    }
    function populate(users) {
      return new Promise(function (resolve, reject) {
        // console.log(routes);

        var mainDiv = document.getElementById('testRow');
        mainDiv.innerHTML = '';

        users.forEach(element => {
          // console.log(element);
          var content = `
          <div class="col-xl-3 col-sm-6">
              <div class="card card-mini mb-4">
                <div class="card-body">
                  <h2 class="mb-1">${element.name}</h2>
                  <p>${element.email}</p>
                </div>
              </div>
            </div>
      `;

          mainDiv.innerHTML += content;

        });

        resolve("done with populate");
      });
    }
    // <div class="col-xl-3 col-sm-6">
    //           <div class="card card-mini mb-4">
    //             <div class="card-body">
    //               <h2 class="mb-1">Div One</h2>
    //               <p>Online Signups</p>
    //               <div class="chartjs-wrapper">
    //                 <canvas id="barChart"></canvas>
    //               </div>
    //             </div>
    //           </div>
    //         </div>

  </script>
</body>

</html>